@model List<urednistvo.Models.Rating>

@{
    ViewBag.Title = "Details";
}

<h2>Detalji o @Model.First().Text.Title</h2>

<table class="table">
    <tr>
        <th>
            Korisničko ime
        </th>
        <th>
            Ocjena
        </th>
        <th>
            Objavi na web
        </th>
        <th>
            Preporučeni podlistak
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.User.UserName, "Details/" + item.User.UserId, "User")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WebPublishable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SectionTitle)
            </td>
        </tr>
    }
</table>

<p>
    @if ((String)Session["Role"] == "Editor")
    {
        @Html.ActionLink("Final rate (editor)", "EditEditor/" + @Model.First().Text.TextId, "Text")
        <label>|</label>
    }
    @Html.ActionLink("Povratak na listu tekstova", "Index")
    </p>
