@model List<urednistvo.ModelsView.Textual.RatingView>

@{
    ViewBag.Title = "Detalji ocjena";
}

<h2>Detalji o @Model.First().Title</h2>

<table class="table">
    <tr>
        <th>
            Korisničko ime
        </th>
        <th>
            Ocjena
        </th>
        <th>
            Objavi na web
        </th>
        <th>
            Preporučeni podlistak
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Username, "Details/" + item.UserId, "User")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                @if (item.WebPublishable == true)
                {
                    <label>Da</label>
                }
                else
                {
                    <label>Ne</label>
                }
            </td>
            <td>
                @Html.ActionLink(item.SectionTitle, "Details/" + item.SectionId, "Sections")
            </td>
        </tr>
    }
</table>

<p>
    @if ((String)Session["Role"] == "Glavni urednik")
    {
        @Html.ActionLink("Konačna ocjena", "EditEditor/" + @Model.First().TextId, "Text")
        <label>|</label>
    }
    @Html.ActionLink("Povratak na listu tekstova", "Index")
    </p>
