@model List<urednistvo.ModelsView.Textual.CommentView>

@{
    ViewBag.Title = "Komentari po korisniku";
}

<h2>Po kirisniku</h2>

<table class="table">
    <tr>
        <th>
            Naslov teksta
        </th>
        <th>
            Sadržaj
        </th>
        <th>
            Ažurirano
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var comment in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(@comment.TextTitle + " ", "Details/" + @comment.TextId, "Text")
            </td>
            <td>
                @Html.DisplayFor(modelItem => comment.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => comment.Time)
            </td>
        </tr>
    }

</table>


<p>
    @Html.ActionLink("Uređivanje", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Povratak na listu korisnika", "Index")
</p>
