<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Naš list</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="../../Content/jquery.datetimepicker.css" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Naš list", "Index", "Home", new { area = "" }, new { @class = "navbar-brand"})
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><span class="glyphicon glyphicon-home icon" title="Početna" onclick="goHome()"></span></li>
                    <li><span class="glyphicon glyphicon-list icon" title="Tekstovi" onclick="gotoTexts()"></span></li>
                    <li><span class="glyphicon glyphicon-user icon" title="Korisnici" onclick="gotoUsers()"></span></li>
                    <li><span class="glyphicon glyphicon-globe icon" title="Obavijesti" onclick="gotoNotifications()"></span></li>
                    <li>
                        <div class="btn-group actions-div">
                            <button class="btn btn-lg dropdown-toggle actions-dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-search"></span><!--<span class="caret"></span>-->
                            </button>
                            <ul class="dropdown-menu">
                                <li><span class="glyphicon glyphicon-book icon" title="Izdanja" onclick="gotoEditions()"></span></li>
                                <li><span class="glyphicon glyphicon-fire icon" title="Podlistci" onclick="gotoSections()"></span></li>
                            </ul>
                        </div>
                    </li>
                    @if (Session["UserID"] != null)
                    {
                        <li><span class="glyphicon glyphicon-upload icon" title="Upload" onclick="upload()"></span></li>
                    }
                    <li>
                        <div class="btn-group actions-div">
                            <button class="btn btn-lg dropdown-toggle actions-dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-flash"></span><!--<span class="caret"></span>-->
                            </button>
                            <ul class="dropdown-menu">
                                @if (Session["UserID"] == null)
                                {
                                    <li>Nema dostupnih akcija</li>
                                }
                                @if ((string)Session["Role"] == "Lektor")
                                {
                                    <li><span class="glyphicon glyphicon-pencil icon" title="Lektoriraj" onclick="gotoForLectoring()"></span></li>
                                }
                                @if ((string)Session["Role"] == "Grafički urednik")
                                {
                                    <li><span class="glyphicon glyphicon-film icon" title="Grafički uredi" onclick="gotoForGraphEdit()"></span></li>
                                }
                                @if ((string)Session["Role"] == "Glavni urednik")
                                {
                                    <li><span class="glyphicon glyphicon-star icon" title="Ocjene" onclick="gotoRatings()"></span></li>
                                }
                                @if ((string)Session["Role"] == "Korektor")
                                {
                                    <li><span class="glyphicon glyphicon-check icon" title="Ispravi" onclick="gotoForCorrection()"></span></li>
                                }
                            </ul>
                        </div>
                    </li>

                    <li><span class="glyphicon glyphicon-certificate icon" title="Uredničko vijeće" onclick="gotoEditorialCouncil()"></span></li>
                    <li><span class="glyphicon glyphicon-phone-alt icon" title="Kontakt" onclick="gotoContact()"></span></li>
                    <li><span class="glyphicon glyphicon-book icon" title="Arhiva" onclick="gotoArchive()"></span></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div id="info-bar" class="info-bar">
        <span class="life-meaning"></span>
        <span class="glyphicon glyphicon-info-sign"></span>
        <font color="black">@TempData["Message"]</font>
        <span class="glyphicon glyphicon-remove" onclick="hide()"></span>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>
                &copy; @DateTime.Now.Year - Naš list
                <span class="glyphicon glyphicon-asterisk"></span>
                <a href='@Url.Action("About","Home")'>TODOHunters</a>
                <span class="glyphicon glyphicon-asterisk"></span>
                <a href='@Url.Action("Contact","Home")'>Kontakt</a>
            </p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datetimepicker")
    
    @RenderSection("scripts", required: false)
   
</body>
</html>
<script type="text/javascript">
    window.onload = checkInfos;
    function checkInfos() {
        var success = @((TempData["Message"] != null).ToString().ToLower());
        if(success){
            document.getElementById('info-bar').style.visibility = 'visible';
            $("#info-bar").delay(3200).fadeOut(300);
        }
    }
    function goHome() {
        window.location.href = '@Url.Action("Index", "Home")';
    }
    function gotoNotifications() {
        window.location.href = '@Url.Action("Index", "Notification")';
    }
    function gotoTexts() {
        window.location.href = '@Url.Action("Index", "Text")';
    }
    function gotoUsers() {
        window.location.href = '@Url.Action("Index", "User")';
    }
    function upload() {
        window.location.href = '@Url.Action("Create", "Text")';
    }
    function hide() {
        $('#info-bar').fadeOut();
        document.getElementById('info-bar').style.visibility = 'hidden';
    }
    function gotoForLectoring() {
        window.location.href = '@Url.Action("ForLectoring", "Text")';
    }
    function gotoForGraphEdit() {
        window.location.href = '@Url.Action("ForGraphicEditing", "Text")';
    }
    function gotoContact() {
        window.location.href = '@Url.Action("Contact", "Home")';
    }
    function gotoRatings() {
        window.location.href = '@Url.Action("Index", "Ratings")';
    }
    function gotoEditorialCouncil() {
        window.location.href = '@Url.Action("EditorialCouncil", "Home")';
    }
    function gotoForCorrection() {
        window.location.href = '@Url.Action("ForCorrection", "Text")';
    }
    function gotoEditions() {
        window.location.href = '@Url.Action("Index", "Editions")';
    }
    function gotoSections() {
        window.location.href = '@Url.Action("Index", "Sections")';
    }
    function gotoArchive() {
        window.location.href = '@Url.Action("Index", "Archive")';
    }
</script>
<style>
    .life-meaning{
        width:50px;
        display: inline-block;
    }
    .actions-dropdown{
        padding: 0;
        top: 18px;
        background-color: transparent;
        color: white;
        font-size: 20px;
    }
    .actions-dropdown:hover {
        color: black;
        cursor: pointer;
    }
    .actions-div{
        padding-left: 22px;
    }
    .info-bar{
        position: relative;
        top: 12px;
        color: #00529B;
        background-color:#BDE5F8;
        visibility: hidden;
    }
    .icon {
        top: 18px;
        color: white;
        font-size: 20px;
        padding-left: 22px;
    }
    .icon:hover {
        color: black;
        cursor: pointer;
    }
</style>
