<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Naš list</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="../../Content/jquery.datetimepicker.css" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Naš list", "Index", "Home", new { area = "" }, new { @class = "navbar-brand"})
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <div class="btn-group actions-div">
                            <button class="btn btn-lg dropdown-toggle actions-dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-list" title="Tekstovi"></span><!--<span class="caret"></span>-->
                            </button>
                            <ul class="dropdown-menu">
                                <li><span class="text-style" title="Izdanja" onclick="location.href='@Url.Action("Index", "Text")'">Svi tekstovi</span></li>
                                @if ((string)Session["Role"] == "Autor")
                                {
                                    <li><span class="text-style" title="Moji tekstovi" onclick="location.href='@Url.Action("ByAuthor/" + (string)Session["UserID"], "Text")'">Moji tekstovi</span></li>
                                }
                                <li><span class="text-style" title="Najave" onclick="location.href='@Url.Action("AnnouncementTexts", "Text")'">Najave</span></li>
                                <li><span class="text-style" title="Arhiva" onclick="location.href='@Url.Action("Index", "Archive")'">Arhiva</span></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="btn-group actions-div">
                            <button class="btn btn-lg dropdown-toggle actions-dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-search" title="Pretraži"></span><!--<span class="caret"></span>-->
                            </button>
                            <ul class="dropdown-menu">
                                <li><span class="text-style" onclick="location.href='@Url.Action("Index", "Editions")'">Izdanja</span></li>
                                <li><span class="text-style" onclick="location.href='@Url.Action("Index", "Sections")'">Podlistci</span></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="btn-group actions-div">
                            <button class="btn btn-lg dropdown-toggle actions-dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-user" title="Korisnici"></span><!--<span class="caret"></span>-->
                            </button>
                            <ul class="dropdown-menu">
                                @if (Session["UserID"] != null)
                                {
                                    <li><span class="text-style" onclick="location.href='@Url.Action("Index", "User")'">Svi korisnici</span></li>
                                }
                                <li><span class="text-style" onclick="location.href='@Url.Action("EditorialCouncil", "Home")'">Uredničko vijeće</span></li>
                            </ul>
                        </div>
                    </li>
                    }
                    <li><span class="glyphicon glyphicon-bullhorn icon" title="Obavijesti" onclick="location.href='@Url.Action("Index", "Notification")'"></span></li>
                    <li><span class="glyphicon glyphicon-phone-alt icon" title="Kontakt" onclick="location.href='@Url.Action("Contact", "Home")'"></span></li>
                    @if (Session["UserID"] != null && (string)Session["Role"] != "Registrirani korisnik")
                    {
                        <li><div class="divider"></div></li>
                    }
                    @if ((string)Session["Role"] == "Lektor")
                    {
                        <li><span class="glyphicon glyphicon-pencil icon" title="Lektoriraj" onclick="location.href='@Url.Action("ForLectoring", "Text")'"></span></li>
                    }
                    @if ((string)Session["Role"] == "Grafički urednik")
                    {
                        <li><span class="glyphicon glyphicon-film icon" title="Grafički uredi" onclick="location.href='@Url.Action("ForGraphicEditing", "Text")'"></span></li>
                    }
                    @if ((string)Session["Role"] == "Korektor")
                    {
                        <li><span class="glyphicon glyphicon-edit icon" title="Korigiraj" onclick="location.href='@Url.Action("ForCorrection", "Text")'"></span></li>
                    }
                    @if ((string)Session["Role"] == "Autor")
                    {
                        <li><span class="glyphicon glyphicon-send icon" title="Napiši tekst" onclick="location.href='@Url.Action("Create", "Text")'"></span></li>
                    }
                    @if ((string)Session["Role"] == "Glavni urednik")
                    {
                        <li><span class="glyphicon glyphicon-picture icon" title="Dodaj slike" onclick="location.href='@Url.Action("ForAddingImages", "Text")'"></span></li>
                    }
                    @if ((string)Session["Role"] == "Glavni urednik" || (string)Session["Role"] == "Član uredničkog vijeća")
                    {
                        <li><span class="glyphicon glyphicon-star icon" title="Ocijeni" onclick="location.href='@Url.Action("ForRate", "Text")'"></span></li>
                        <li><span class="glyphicon glyphicon-signal icon" title="Statistika" onclick="location.href='@Url.Action("Index", "Statistics")'"></span></li>
                    }
                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div id="info-bar" class="info-bar">
        <span class="life-meaning"></span>
        <span class="glyphicon glyphicon-info-sign"></span>
        <font color="black">@TempData["Message"]</font>
        <span class="glyphicon glyphicon-remove" onclick="hide()"></span>
    </div>
    <div class="container body-content" style="padding: 0 !important">
        @RenderBody()
        <footer class="cool-footer">
            <p style="height:5px">
                &copy; @DateTime.Now.Year - Naš list
                <span class="glyphicon glyphicon-asterisk"></span>
                <a href='@Url.Action("About","Home")'>TODOHunters</a>
                <span class="glyphicon glyphicon-asterisk"></span>
                <a href='@Url.Action("Contact","Home")'><span class="glyphicon glyphicon-phone-alt"></span></a>
            </p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datetimepicker")
    
    @RenderSection("scripts", required: false)
   
</body>
</html>
<script type="text/javascript">
    window.onload = checkInfos;
    function checkInfos() {
        var success = @((TempData["Message"] != null).ToString().ToLower());
        if(success){
            document.getElementById('info-bar').style.visibility = 'visible';
            $("#info-bar").delay(3200).fadeOut(300);
        }
    }
    function hide() {
        $('#info-bar').fadeOut();
        document.getElementById('info-bar').style.visibility = 'hidden';
    }
</script>
<style>
    .divider{
        position: absolute;
        border-left: 1px solid white;
        height: 43px;
        border-left-width: 3px;
        top: 7px;
        margin-left: 10px;
    }
    .cool-footer{
        position: relative;
        height: 5px;
        top: 22px;
        left: 15px;
    }
    .dropdown-menu{
        top:130%;
    }
    .dropdown-menu :hover{
        background-color: #93c54b;
    }
    .text-style:hover{
        color: black;
        cursor: pointer;
    }
    .life-meaning{
        width:50px;
        display: inline-block;
    }
    .actions-dropdown{
        padding: 0;
        top: 12px;
        background-color: transparent;
        color: white;
        font-size: 20px;
    }
    .actions-dropdown:hover {
        color: black;
        cursor: pointer;
    }
    .actions-div{
        top: 5px;
        padding-left: 22px;
    }
    .info-bar{
        position: relative;
        top: 12px;
        color: #00529B;
        background-color:#BDE5F8;
        visibility: hidden;
    }
    .icon {
        top: 18px;
        color: white;
        font-size: 20px;
        padding-left: 22px;
    }
    .icon:hover {
        color: black;
        cursor: pointer;
    }
</style>
