@using Microsoft.AspNet.Identity
@if (Session["UserID"] != null)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li><span class="glyphicon glyphicon-user noclick-icon"></span></li>
        <li>
            @Html.ActionLink("Pozdrav " + (String)Session["Username"] + "!", "Details/" + (String)Session["UserID"], "User")
        </li>
        <li>@Html.ActionLink("Odjava", "Logoff", "User")</li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><span class="glyphicon glyphicon-globe noclick-icon" title="Javni korisnik"></span></li>
        <li>@Html.ActionLink("Registracija", "Register", "User", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Prijava", "Login", "User", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
<style>
    .noclick-icon{
        top: 18px;
        color: lightgrey;
        font-size: 20px;
        padding-left: 22px;
    }
    .noclick-icon:hover{
        color: grey;
    }
</style>