@model urednistvo.ModelsView.Textual.TextView

@{
    ViewBag.Title = "Details";
}

<h2>Text details</h2>
<br />

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Title
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            Subtitle
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subtitle)
        </dd>

        <dt>
            Content
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            Time
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

    </dl>
</div>

@if ((String)Session["UserID"] == Model.UserId.ToString())
{
    <div>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                Text status
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TextStatus)
            </dd>

            <dt>
                Published on web
            </dt>

            <dd>
                @Html.DisplayFor(model => model.WebPublishable)
            </dd>

            <dt>
                Published in edition
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EditionPublishable)
            </dd>

            <dt>
                Suggestion
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Suggestions)
            </dd>

            <dt>
                Wanted section
            </dt>

            <dd>
                @Html.DisplayFor(model => model.WantedSectionByAuthor)
            </dd>

            <dt>
                Final section
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FinalSection)
            </dd>

        </dl>
    </div>
}

<p>
    @if ((String)Session["Role"] == "Editor")
    {
        @Html.ActionLink("Master editor edit", "EditEditor", new { id = Model.TextId });
        <label> |</label>
        @Html.ActionLink("Editorial council member edit", "EditMember", new { id = Model.TextId });
        <label> |</label>
    }
    @if ((String)Session["Role"] == "Editorial Council Member") {
        @Html.ActionLink("Editorial council member edit", "EditMember", new { id = Model.TextId});
        <label> |</label>
    }
    @Html.ActionLink("Back to List", "Index")<label> |</label>
    @Html.ActionLink("Comment", "Create/" + Model.TextId, "Comment")
</p>
