@model urednistvo.ModelsView.Textual.TextView
@{
    ViewBag.Title = "Detalji o tekstu";
}
<h2>
    <strong>@Model.Title</strong> 
</h2>
<h3 style="padding-left:0.5em">
    @Html.DisplayFor(model => model.Subtitle)
</h3>
<p><span style="float:right">Objava: @Html.DisplayFor(model => model.Time)</span></p>
<br />
<div class="col-md-12" style="padding-top:1em; padding-bottom:1em">
   <div class="col-md-10 col-md-offset-1">
       <text style="font-size:medium">@Model.Content</text>
       @*@Html.DisplayFor(model => model.Content)*@
   </div>
    @*<hr />
    <dl class="dl-horizontal">
        <dt>
            Naslov
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            Podnaslov
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subtitle)
        </dd>
        <dt>
            Sadržaj
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>      

    </dl>*@
</div>
@if ((String)Session["UserID"] == Model.UserId.ToString())
{
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Status teksta
            </dt>
            <dd>
                <label>@Model.TextStatus</label>
            </dd>
         
            <dt>
                Prijedlozi
            </dt>
            <dd>
                <label>@Model.Suggestions</label>
            </dd>
            <dt>
                Željeni podlistak
            </dt>
            <dd>
                <label>@Model.WantedSectionByAuthor</label>
            </dd>
            <dt>
                Konačni podlistak
            </dt>
            <dd>
                <label>@Model.FinalSection</label>
            </dd>
            <dt>
                Za web
            </dt>
            <dd>
                @if (Model.WebPublishable == "True")
                {
                    <span class="glyphicon glyphicon-check" title=""></span>
                }
                else
                {
                    <span class="glyphicon glyphicon-minus" title=""></span>
                }
            </dd>
            <dt>
                Za tiskovinu
            </dt>
            <dd>
                @if (Model.EditionPublishable == "True")
                {
                    <span class="glyphicon glyphicon-check" title=""></span>
                }
                else
                {
                    <span class="glyphicon glyphicon-minus" title=""></span>
                }
            </dd>
        </dl>
    </div>
}
<p> @if (Session["UserID"] != null)
    {
        if (Int32.Parse((string)Session["UserID"]) == Model.UserId && Model.TextStatus == "Vraćen")
        {
            @Html.ActionLink("Doradi", "Edit", new { id = Model.TextId });
            <label> |</label>
        }
        if ((String)Session["Role"] == "Glavni urednik" && Model.TextStatus == "Poslan")
        {
            @Html.ActionLink("Konačna ocjena", "EditEditor", new { id = Model.TextId });
        <label> |</label>
        }
        if (((String)Session["Role"] == "Glavni urednik" || (String)Session["Role"] == "Član uredničkog vijeća") && Model.TextStatus == "Poslan")

        {
            @Html.ActionLink("Ocijeni", "EditMember", new { id = Model.TextId });
            <label> |</label>
        }
    }
    @Html.ActionLink("Povratak na listu tekstova ", "Index")<label>  | </label>
    <a href='@Url.Action("ByText/" + @Model.TextId, "Comment")'>
        <span class="glyphicon glyphicon-comment" title="Komentari"></span>
    </a> 
    @if (Session["UserID"] != null)
    {
        <label> | </label>
        @Html.ActionLink("Komentiraj", "Create/" + Model.TextId, "Comment")
    }
    
</p>
