@model urednistvo.Models.Text

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Title
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            Subtitle
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subtitle)
        </dd>

        <dt>
            Content
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            Time
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            Wanted section
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WantedSectionByAuthorId)
        </dd>

    </dl>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.TextId)

        <div class="form-group">
            <label class="control-label col-md-2">Publish on web</label>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.WebPublishable)
                    @Html.ValidationMessageFor(model => model.WebPublishable, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Publish in edition</label>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.EditionPublishable)
                    @Html.ValidationMessageFor(model => model.EditionPublishable, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Add suggestion</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Suggestions, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Suggestions, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Final section</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.FinalSectionId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FinalSectionId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Accept" name="submit" class="btn btn-default" />
                <input type="submit" value="Return" name="submit" class="btn btn-default" />
            </div>
        </div>
    </div>
}



<div>
    @Html.ActionLink("Back to List", "Index")
</div>
