@model Tuple<urednistvo.Models.Text, string>
@{
    ViewBag.Title = "Uređivanje";
}
<h2>Konačna evaluacija</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Naslov
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Item1.Title)
        </dd>
        <dt>
            Podnaslov
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Item1.Subtitle)
        </dd>
        <dt>
            Sadržaj
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Item1.Content)
        </dd>
        <dt>
            Ažurirano
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Item1.Time)
        </dd>
        <dt>
            Željeni podlistak
        </dt>
        <dd>
            <label>@Model.Item2</label>
        </dd>
    </dl>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Item1.TextId)
        <div class="form-group">
            <label class="control-label col-md-2">Objavi na web</label>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Item1.WebPublishable)
                    @Html.ValidationMessageFor(model => model.Item1.WebPublishable, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Objavi u uređivanju</label>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Item1.EditionPublishable)
                    @Html.ValidationMessageFor(model => model.Item1.EditionPublishable, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Dodaj prijedlog</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Item1.Suggestions, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Item1.Suggestions, "", new { @class = "text-danger" })
            </div>
        </div>

        @{
            List<SelectListItem> sections = new List<SelectListItem>();
            sections.Add(new SelectListItem
            {
                Text = "Zabava",
                Value = "3"
            });
            sections.Add(new SelectListItem
            {
                Text = "Sport",
                Value = "4",
                Selected = true
            });
            sections.Add(new SelectListItem
            {
                Text = "Crna kronika",
                Value = "5"
            });
            sections.Add(new SelectListItem
            {
                Text = "Vijesti",
                Value = "6"
            });
            sections.Add(new SelectListItem
            {
                Text = "Kultura",
                Value = "7"
            });
            sections.Add(new SelectListItem
            {
                Text = "Financije",
                Value = "8"
            });
            sections.Add(new SelectListItem
            {
                Text = "Znanost",
                Value = "9"
            });
            sections.Add(new SelectListItem
            {
                Text = "Umjetnost",
                Value = "10"
            });
            sections.Add(new SelectListItem
            {
                Text = "Zdravlje",
                Value = "11"
            });
            sections.Add(new SelectListItem
            {
                Text = "Događanja",
                Value = "12"
            });
        }
        <div class="form-group">
            <label class="control-label col-md-2">Konačni podlistak</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Item1.FinalSectionId, sections, new { @class = "dropdown" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Vrati na doradu" name="submit" class="btn btn-default" />
                <input type="submit" value="Prihvati" name="submit" class="btn btn-default" />
                <input type="submit" value="Odbij" name="submit" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Povratak na listu tekstova", "Index")
</div>
