@model List<urednistvo.ModelsView.Textual.TextIndexViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
//Dodati da se moze editati i brisati SVOJ text odavde

<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Author
        </th>
        <th>
            Section
        </th>
        <th>
            Time
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var text in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(@text.Title + "(" + @text.Subtitle + ")", "Details/" + @text.TextID, "Text")
            </td>
            <td>
                @Html.ActionLink(@text.Username + " ", "Details/" + @text.UserID, "User")
            </td>
            <td>
                @Html.ActionLink(@text.FinalSection + " ", "Index" + @text.FinalSection, "Section")
            </td>
            <td>
                @Html.DisplayFor(modelItem => text.Time)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit/" + @text.TextID, "Text")
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete/" + @text.TextID, "Text")
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
