@model List<urednistvo.ModelsView.Textual.TextView>

@{
    ViewBag.Title = "Arhiva";
}

<h2>Svi tekstovi</h2>
<br /> 
@foreach(var t in Model.GroupBy(t => t.FinalSectionId))
{
    <div class="col-md-12" style="background-color:#eefce8">
        @if (t.Key != -1)
        {
            <a href='@Url.Action("Details/" + @t.Key, "Sections")' style="font-size:large">
                 @t.FirstOrDefault(x => x.FinalSectionId == t.Key).FinalSection
            </a>
        }
        else
        {
            <a style="font-size:large">@t.FirstOrDefault(x => x.FinalSectionId == t.Key).FinalSection </a>
        }
    </div>
    foreach(var text in t)
    {
        <div class="col-md-12" >
            <div class="col-md-1">
                <div class="col-md-6"  style="padding-top:2em">
                    <a href='@Url.Action("Details/" + @text.TextId, "Text")'>
                        <span class="glyphicon glyphicon-comment" title="Komentari"></span>
                    </a>
                </div>
                @if (text.EditionPublishable == "True")
                {
                    <div class="col-md-6" style="padding-top:2em">
                        <a href='@Url.Action("DownloadRTF/" + @text.TextId, "Text")' >
                            <span class="glyphicon glyphicon-download" title="Preuzmi"></span>
                        </a>
                    </div>
                }
                
            </div>
            <div class="col-md-9 " >
                <h3 >
                    <a href='@Url.Action("Details/" + @text.TextId, "Text")'>
                        @text.Title
                    </a> 
                </h3>
                <h4>
                    @text.Subtitle
                </h4>
                <p class="row">
                    <a href='@Url.Action("Details/" + @text.UserId, "User")'>
                        <span class="glyphicon glyphicon-user"></span> @text.Username
                    </a>
                    <span style="float:right">@Html.DisplayFor(modelItem => text.Time)</span>
                </p>
            </div>
            <div class="col-md-2" style="padding-left:3em">
                @if (Session["UserID"] != null)
                {
                   <div class="row" style="padding-top:1em">
                       <p>
                           <a href='@Url.Action("ByText/" + @text.TextId, "Ratings")'>
                               <span class="glyphicon glyphicon-star" title="Ocjene"></span>
                           </a>
                           <a href='@Url.Action("Edit/" + @text.TextId, "Text")'>
                               <span class="glyphicon glyphicon-pencil" title="Uređivanje"></span>
                           </a>
                           <a href='@Url.Action("Delete/" + @text.TextId, "Text")'>
                               <span class="glyphicon glyphicon-trash" title="Obriši"></span>
                           </a>
                       </p>
                   </div>
                    if (text.WebPublishable == "True")
                    {
                        <div class="row">
                            <p>Za web: <span class="glyphicon glyphicon-check" title=""></span></p>
                        </div>
                    }
                }
                @if ((String)Session["Role"] == "Glavni urednik")
                {
                    <p>Status: @Html.DisplayFor(modelItem => text.TextStatus)</p>
                }

            </div>

        </div>
    }
}

@*<table class="table">
    <tr>
        <th>
            Naslov
        </th>
        <th>
            Autor
        </th>
        <th>
            Podlistak
        </th>
        <th>
            Ažurirano
        </th>
        @if ((String)Session["Role"] == "Glavni urednik")
        {
            <th>
                Text status
            </th>
        }
        <th>
            Za web
        </th>
        <th>
            Za tiskovinu
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var text in Model)
    {
        <tr>
            <td>
                <a href='@Url.Action("Details/" + @text.TextId, "Text")'>
                    <span class="glyphicon glyphicon-list"></span> @text.Title (@text.Subtitle)
                </a>
            </td>

            <td>
                <a href='@Url.Action("Details/" + @text.UserId, "User")'>
                    <span class="glyphicon glyphicon-user"></span> @text.Username
                </a>

            </td>
            <td>
                @if (text.FinalSectionId != -1)
                {
                    <a href='@Url.Action("Details/" + @text.FinalSectionId, "Sections")'>
                        <span class="glyphicon glyphicon-file"></span> @text.FinalSection
                    </a>
                }
                else
                {
                    <label><span class="glyphicon glyphicon-file"></span> @text.FinalSection </label>
                }
            </td>

            <td>
                @Html.DisplayFor(modelItem => text.Time)
            </td>

            @if ((String)Session["Role"] == "Glavni urednik")
            {
                <th>
                    @Html.DisplayFor(modelItem => text.TextStatus)
                </th>
            }

            <td>
                @if (text.WebPublishable == "True")
                {
                    <span class="glyphicon glyphicon-check" title=""></span>
                }
            </td>

            <td>
                @if (text.EditionPublishable == "True")
                {
                    <a href='@Url.Action("DownloadRTF/" + @text.TextId, "Text")'>
                        <span class="glyphicon glyphicon-download" title="Preuzmi"></span>
                    </a>
                    
                }
            </td>

            <td>
                <a href='@Url.Action("ByText/" + @text.TextId, "Comment")'>
                    <span class="glyphicon glyphicon-comment" title="Komentari"></span>
                </a>
            </td>

            <td>
                <a href='@Url.Action("ByText/" + @text.TextId, "Ratings")'>
                    <span class="glyphicon glyphicon-star" title="Ocjene"></span>
                </a>
            </td>
             @if (Session["UserID"] != null)
             {
                <td>
                    <a href='@Url.Action("Edit/" + @text.TextId, "Text")'>
                        <span class="glyphicon glyphicon-pencil" title="Uređivanje"></span>
                    </a>
                </td>
                <td>
                    <a href='@Url.Action("Delete/" + @text.TextId, "Text")'>
                        <span class="glyphicon glyphicon-trash" title="Obriši"></span>
                    </a>
                </td>
             }
            
        </tr>
    }

</table>*@

@if (Session["UserID"] != null)
{
    <p>
        <font size="3">@Html.ActionLink("Novi tekst", "Create")</font>
    </p>
}

