@model List<urednistvo.ModelsView.UserView>

<h2>Uredničko vijeće</h2>
<table class="table">
    <tr>
        <th>
            Ime
        </th>
        <th>
            Prezime
        </th>
        <th>
            Korisničko ime
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Email)
        </th>
        <th>
            Uloga
        </th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => user.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.LastName)
            </td>
            <td>
                <a href='@Url.Action("Details/" + @user.UserId, "User")'>
                    <span class="glyphicon glyphicon-user"></span> @user.UserName
                </a>
            </td>
            <td>
                <span class="glyphicon glyphicon-envelope">
                    @Html.DisplayFor(modelItem => user.Email)
                </span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.Role)
            </td>
        </tr>
    }
</table>