@model Tuple<IEnumerable<urednistvo.Models.Text>, IEnumerable<urednistvo.Models.Notification>>
@{
    ViewBag.Title = "Početna";
}
<br /> 

<div class="jumbotron">
    @{var index = 0; var dbText = Model.Item1.ElementAt(index);}
        <a href='@Url.Action("Details/" + dbText.TextId, "Text")'>
            <h2>@dbText.Title</h2>
        </a>
        <div id="fos" class="text-containment">
            <p>@dbText.Content</p>
        </div>
</div>
    <h3>Istaknute obavijesti</h3>
    <div class="row">
    @foreach (var n in Model.Item2)
    {
        <div class="col-md-3">
          
            <p>
                <a href='@Url.Action("Details/" + @n.NotificationId, "Notification")'>
                    <h4> <span class="glyphicon glyphicon-globe"></span> @n.Title </h4>
                </a>
            </p>
            <p>
                @Html.DisplayFor(modelItem => n.Time)
            </p>

        </div>
    }
</div>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
    this.index = 0;
    $(document).ready(function(){
        $("right").click(function(){
            this.index++;
            @dbText = Model.Item1.ElementAt(this.index);
        });
        $("left").click(function(){
            if(this.index>0){
                this.index--;
                @dbText = Model.Item1.ElementAt(this.index);
            }
        });
    });

    // jquery za prelamanje teksta: http://jsfiddle.net/k5VET/
    var p = $('#fos p');
    var divh = $('#fos').height();
    while ($(p).outerHeight() > divh) {
        $(p).text(function (index, text) {
            return text.replace(/\W*\s(\S)*$/, '...');
        });
    }
</script>
<style>
    .text-change:hover{
        cursor: pointer;
        color: black;
    }
    .under-text{
        margin-top:10px;
    }
    .text-containment{
        max-height: 206px;
        overflow: hidden;
    }
</style>