@model Tuple<IEnumerable<urednistvo.ModelsView.Textual.TextView>, IEnumerable<urednistvo.Models.Notification>>
@{
    ViewBag.Title = "Početna";
}
<br />
<div class="col-md-2">
    @{Html.RenderAction("PartialAnnouncements", "Text");}
</div>
<div class="jumbotron col-md-8">
    @foreach (var txt in Model.Item1)
    {
        <a href='@Url.Action("Details/" + txt.TextId, "Text")'>
            <h2>@txt.Title</h2>
        </a>
        <div id="fos" class="text-containment">
            <p>@txt.Content</p>
        </div>
    }
</div>
<div class="col-md-2">
    <span class="side-title"><span class="glyphicon glyphicon-bullhorn"></span> Obavijesti</span>
    @if (Model.Item2.Count() < 1)
    {
        <span class="notif-info">Nema obavijesti</span>
    }
    <div class="col">
        @foreach (var n in Model.Item2)
        {
                <p>
                    <a href='@Url.Action("Details/" + @n.NotificationId, "Notification")'>
                        <h4> <span class="glyphicon glyphicon-globe"></span> @n.Title </h4>
                    </a>
                </p>
                <p>
                    @Html.DisplayFor(modelItem => n.Time)
                </p>
        }
    </div>
</div>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">

    // jquery za prelamanje teksta: http://jsfiddle.net/k5VET/
    var p = $('#fos p');
    var divh = $('#fos').height();
    while ($(p).outerHeight() > divh) {
        $(p).text(function (index, text) {
            return text.replace(/\W*\s(\S)*$/, '...');
        });
    }
</script>
<style>
    .notif-info{
        display:block;
        font-style: italic;
    }
    .top-line{
        display:inline-block;
    }
    .text-change:hover{
        cursor: pointer;
        color: black;
    }
    .under-text{
        margin-top:10px;
    }
    .text-containment{
        max-height: 206px;
        overflow: hidden;
    }
    .side-title{
        font-size:20px;
        font-weight:700;
    }
</style>