@model List<urednistvo.Models.Notification>
@{
    ViewBag.Title = "Details";
}

@foreach (var n in Model)
{
    <h2>Details of "@n.Title"</h2>
    <li>@n.Content</li>

    <div>
        @Html.ActionLink("Edit", "Edit/" + @n.NotificationId, "Notification")
    </div>
    <div>
        @Html.ActionLink("Delete", "Delete/" + @n.NotificationId, "Notification")
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>