@model IEnumerable<urednistvo.ModelsView.Textual.NotificationView>

@{
    ViewBag.Title = "Obavijesti";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            <label>Title</label>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            <label>For</label>
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var n in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(@n.Title, "Details/" + @n.NotificationId, "Notification")
            </td>
            <td>
                @Html.DisplayFor(modelItem => n.Time)
            </td>
            <td>
                @if (n.ForUser == "Public")
                {
                    @Html.DisplayFor(modelItem => n.ForUser)
                }
                else
                {
                    @Html.ActionLink(@n.ForUser, "Details/" + @n.UserId, "User")
                }  
            </td>
            <td>
                <a class="glyphicon glyphicon-pencil" href='@Url.Action("Edit/" + @n.NotificationId, "Notification")'></a>
            </td>
            <td>
                <a class="glyphicon glyphicon-trash" href='@Url.Action("Delete/" + @n.NotificationId, "Notification")'></a>
            </td>
        </tr>
    }

</table>

<p>
    <font size="3">@Html.ActionLink("Create New", "Create")</font>
</p>