@model IEnumerable<urednistvo.Models.Notification>

@{
    ViewBag.Title = "Notifications";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var n in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(@n.Title, "Details/" + @n.NotificationId, "Notification")
            </td>
            <td>
                @Html.DisplayFor(modelItem => n.Time)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit/" + @n.NotificationId, "Notification")
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete/" + @n.NotificationId, "Notification")
            </td>
        </tr>
    }

</table>

<p>
    <font size="3">@Html.ActionLink("Create New", "Create")</font>
</p>