@model List<urednistvo.ModelsView.Textual.TextView>
@{
    ViewBag.Title = "Tekstovi";
}
<h2>Tekst</h2>
<br />
<table class="table">
    <tr>
        <th>
            Naslov
        </th>
        <th>
            Autor
        </th>
        <th>
            Podlistak
        </th>
        <th>
            Ažurirano
        </th>
        @if ((String)Session["Role"] == "Editor")
        {
            <th>
                Text status
            </th>
        }
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var text in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(@text.Title + "(" + @text.Subtitle + ")", "Details/" + @text.TextId, "Text")
            </td>
            <td>
                @Html.ActionLink(@text.Username + " ", "Details/" + @text.UserId, "User")
            </td>
            <td>
                @Html.ActionLink(@text.FinalSection + " ", "Index" + @text.FinalSection, "Section")
            </td>
            <td>
                @Html.DisplayFor(modelItem => text.Time)
            </td>
            @if ((String)Session["Role"] == "Editor")
            {
                <th>
                    @Html.DisplayFor(modelItem => text.TextStatus)
                </th>
            }
            <td>
                @Html.ActionLink("Komentari", "ByText/" + @text.TextId, "Comment")
            </td>
            <td>
                @Html.ActionLink("Ocjene", "Details/" + @text.TextId, "Ratings")
            </td>
            <td>
                @Html.ActionLink("Uređivanje", "Edit/" + @text.TextId, "Text")
            </td>
            <td>
                @Html.ActionLink("Obriši", "Delete/" + @text.TextId, "Text")
            </td>
        </tr>
    }
</table>
<p>
    <font size="3">@Html.ActionLink("Novi tekst", "Create")</font>
</p>