@model urednistvo.ModelsView.UserView

@{
    ViewBag.Title = "Detalji o korisniku";
}

<h2>Korisnički detalji</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ime
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            Korisničko ime
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Uloga
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Moji tekstovi", "ByAuthor/" + Model.UserId, "Text") |
    @Html.ActionLink("Povratak na listu korisnika", "Index") |
    @Html.ActionLink("Komentari korisnika", "ByUser/" + Model.UserId, "Comment") 
</p>
