@model IEnumerable<urednistvo.Models.Edition>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TimeOfRelease)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TimeOfRelease)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EditionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EditionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EditionId })
        </td>
    </tr>
}

</table>
