@model List<urednistvo.ModelsView.Textual.EditionView>

@{
    ViewBag.Title = "Izdanja";
}

<h2>Popis dosadašnjih izdanja</h2>

<table class="table">
    <tr>
        <th>
            Naslov
        </th>
        <th>
            Vrijeme objave
        </th>
        <th>
            Broj tekstova
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <label>@item.Title</label>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeOfRelease)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfTexts)
        </td>
        <td>
            @Html.ActionLink("Po podlistcima", "Details/" + item.EditionId, "Editions")
        </td>
        <td>
            @Html.ActionLink("Popis tekstova", "EditionTexts/" + item.EditionId, "Editions")
        </td>
    </tr>
}

</table>
