@model List<urednistvo.Models.Section>

@{
    ViewBag.Title = "Podlistak";
}

<h2>Podlistak</h2>

<p>
    @Html.ActionLink("Dodaj novi", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Novi
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.ActionLink("Uredi", "Edit", new { id=item.SectionId }) |
            @Html.ActionLink("Detalji", "Details", new { id=item.SectionId }) |
            @Html.ActionLink("Obriši", "Delete", new { id=item.SectionId })
        </td>
    </tr>
}

</table>
